<div class="container my-4">
  <div class="p-3 mb-4 rounded shadow" style="background-color: #07a311;">
    <h2 class="text-white text-center m-0">📄 Liste des candidatures</h2>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered align-middle shadow-sm">
      <thead class="table-success text-center">
        <tr>
          <th scope="col">👤 Nom</th>
          <th scope="col">📧 Email</th>
          <th scope="col">🏢 Poste</th>
          <th scope="col">🕒 Date de soumission</th>
          <th scope="col">Actions</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of candidatures">
          <td>{{ c.nom }}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.poste }}</td>
          <td>{{ c.dateSoumission | date:'shortDate' }}</td>
          <td> <button class="btn btn-outline-success btn-sm" (click)="voirDetails(c)"> Voir détails </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

   <!-- Bouton de retour -->
  <div class="text-center mt-4">
    <button class="btn btn-outline-success" (click)="retourProfil()">
      ⬅️ Retour au profil
    </button>
  </div>
</div>
