::placeholder {
  color: #6c757d;
  opacity: 0.8;
}

input:focus, textarea:focus, select:focus {
  border-color: #198754 !important; /* vert Bootstrap */
  box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
}
